:root {
  --body-color: #c1f7dc;
  --font-color: #824670;
  --button-color: #c3d2d5;
  --border-color: #bda0bc;
  --shadow-color: #a2708a;
}

body {
  font-family: "Roboto Serif", sans-serif;
  background: var(--body-color);
}
.container {
  max-width: 100%;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Roboto Serif", sans-serif;
  color: #8fd9a8;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
}

h1 a {
  color: #8fd9a8;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

h1 a:hover {
  color: #095353;
}

h2 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 20px;
  color: var(--font-color);
  font-style: italic;
}

h3 {
  color: var(--font-color);
  width: 350px;
  padding: 10px;

  margin: 0 auto;
}

.search-section {
  height: 60vh;
  background: #28b5b5;
  border-bottom: 20px solid #4b778d;
}
.search-wrap {
  text-align: center;
}

input[type="search"] {
  font-family: "Roboto Serif", sans-serif;
  border: none;
  background: #ebf1d9;
  color: rgb(73, 29, 0);
  padding: 10px;
  width: 350px;
}

input[type="submit"] {
  font-family: "Roboto Serif", sans-serif;
  width: 100px;
  background: #4b778d;
  border: 2px solid #8fd9a8;
  color: #fdfdfd;
  padding: 5px;
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

input[type="submit"]:hover {
  background: #d2e69c;
  color: #4b778d;
}

@media (max-width: 755px) {
  .search-section {
    height: 40vh;
    margin-top: -30px;
  }

  h1 {
    font-size: 40px;
  }

  input[type="search"] {
    padding: 5px;
    width: 250px;
  }

  input[type="submit"] {
    font-size: 12px;
  }
}

.content-section {
  background: var(--body-color);
}

.contents {
  padding: 50px;
  height: auto;
}

.meaning-section {
  font-size: 12px;
  margin: 0 auto;
  text-align: justify;
  color: rgb(27, 18, 18);
  background: #fff;
  padding: 10px;
  width: 500px;
  box-shadow: 3px 3px 8px var(--button-color);
}

.definition {
  font-size: 13px;
  padding: 2px;
  margin: 15px;
}

.example {
  font-size: 11px;
  background-color: rgb(218, 218, 218);
  opacity: 0.7;
  line-height: 20px;
}

.synonyms {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.synonym {
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  color: var(--font-color);
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--button-color);
  width: 100px;
}

.audio {
  text-decoration: none;
  color: var(--font-color);
  background: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  transition: 200ms all ease-in-out;
  flex-direction: row;
}

.phonetic-section {
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  width: 500px;
  box-shadow: 3px 3px 8px var(--button-color);
}

.phonetic-set {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.phonetic-text {
  font-size: 12px;
  opacity: 0.9;
}

.audio:hover {
  background: var(--font-color);
  color: var(--button-color);
  border: 1px solid #fff;
}

.photo-section {
  display: flex;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  width: 500px;
  box-shadow: 3px 3px 8px var(--button-color);
}

.photo {
  margin: 0 auto;
  justify-content: space-evenly;
  flex-direction: row;
}

.footer {
  font-size: 12px;
  background: #fff;
  padding: 10px;

  margin: 0 auto;
}

.footer a {
  text-decoration: none;
  color: var(--font-color);
}

.github-link {
  font-size: 12px;
}

@media (max-width: 415px) {
  .meaning-section {
    width: 100%;
    margin: 0;
  }

  .definition {
    width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0 auto;
  }

  .example {
    padding-left: 0;
    width: 100%;
  }

  .phonetic-section {
    width: 320px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .audio {
    font-size: 8px;
  }

  .phonetic-text {
    font-size: 8px;
  }

  .photo-section {
    width: 320px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .photo {
    margin: 0;
  }
}
